{% extends 'base.html' %}


{% block title %} Registeration {% endblock %} 


{% block content%}
    <h2 style =" font-size : 40px; text-align: center; " class="ull" >
        <br>
        <br>
        <h3>Course Register Page </h3>
    </h2>
    <br/>
    &nbsp;
    <br/>  
<form method="POST" action="{% url 'course-reg' %}">
    {% csrf_token %}

    <div class="ull">

       <label><strong><br>Student Name :<br></strong></label>
       <input type="text" placeholder="Name" style="padding: 5px;" id="name" name = "name" >
    </div>
    <div class ="ull">
        <label><strong>Student ID :<br></strong></label>  
        <input type="text" placeholder="ID" style="padding: 5px;" id="ID" name = "ID">
     </div>
     <div class = "ull">
        <label><strong>Available Course :<br></strong></label>
        <div class="form-container">
            <ol>
                <li>
                    <select class="Course" name="course"/>
                        {% for course in courses %}
                            <option value="{{ course.ID }}"> 
                                {{ course.name }} 
                            </option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select class="Course" name="course"/>
                        {% for course in courses %}
                            <option value="{{ course.ID }}"> 
                                {{ course.name }} 
                            </option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select class="Course" name="course"/>
                        {% for course in courses %}
                            <option value="{{ course.ID }}"> 
                                {{ course.name }} 
                            </option>
                        {% endfor %}
                    </select>
                </li>
            </ol>
        </div>
        <div id="submit-container">
            <input type="submit" value="Submit" id="submit_btn" />
        </div>
    </div>
</form>

     <br>   
     <br>   
     <br>
   
     <div id = "button">
         <button type="button" onclick="congrats()"> Register </button>
         <br>
         <br>
         <br>
     </div>
     

    </body>
    <script src="script/main.js"></script>
        {% endblock %}
