{% extends 'base.html' %}


{% block title %} HOME {% endblock %} 


{% block content%}



<form id="form" method="POST" action="{% url 'edit-student' %}">
    {% csrf_token %}
    <h3>Edit student</h3>
    <input type="text" placeholder = "Enter student ID to Edit" name = "edit">
   
    <div class="form-container">
        <div>
            <input type="text" placeholder="ID" id="ID" required name="ID"/>
            <input type="text" placeholder="Name" id="name" required name="name"/>
        </div>

        <div>
            <input
                type="text"
                placeholder="University"
                id="university"
                name="university"
                required
            />
            <input
                type="text"
                placeholder="Department"
                id="department"
                name="department"
                required
            />
        </div>

        <div class="form-container">
            <label>Date of Birth: </label>
            <input type="date" required name="date"/>
        </div>

        <div id="parent-container">
            <div class="radio-container">
                <label> Gender:</label>

                <div>
                    <input
                        type="radio"
                        name="gender"
                        value="Male"
                        class="gender"
                    />
                    <span>Male</span>
                </div>
                <div>
                    <input
                        type="radio"
                        name="gender"
                        value="Female"
                        class="gender"
                    />
                    <span>Female</span>
                </div>
            </div>
            <input type="submit" value="Edit" id="submit_btn">

</form>

{% endblock %}
