{% extends 'base.html' %}

{% block title %} Higher Studies {% endblock %}

{% block content %}
   <div class ="background-image">
      <h2 style="font-size: 69px;" class="go"> Higher Studies </h2>
      
      <b class="too"><i><strong>Study what you love, what you're interested in and with the top experts in their fields.</strong></i></b>
      <c class="too"> <i><strong>get your first true taste of independence and freedom,build self-confidence,</strong></i></c>
      <d class="too"> <i><strong> experience all aspects of student life and broaden your horizons</strong></i></d>
      <br/>
         &nbsp;
      <br/>
        
      
      <a href="#" ; class="ID">Contact Us</a>
    </div>
{% endblock %}
